/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

/* Main styles */
main {
    padding: 20px;
}

.intro-content {
    text-align: center;
    margin-bottom: 20px;
}

.intro-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro-content p {
    font-size: 1.1em;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1.1em;
}

.about-content {
    text-align: center;
    margin-bottom: 40px;
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.about-content a {
    color: #333;
    text-decoration: underline;
}

.app-content {
    text-align: center;
    margin-bottom: 40px;
}

.app-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.app-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content nav ul {
    display: flex;
}

.footer-content nav ul li {
    margin-right: 10px;
}

.footer-content nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-media img {
    width: 30px;
    margin-left: 10px;
}
