body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://github.com/Anagha-lin/STEMonit-App/blob/main/landing_file/STEMonIT%20cover%20page.png?raw=true') center/gold, cover fixed;
    /* 50% cover image, 50% gold background */
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    color: black; /* default color for main content */
}

/* Style for navigation links */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: lightgray;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkblue;
}

/* Style for feature section */
#features {
    padding: 20px 0;
}

.QUIZ {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.QUIZ img {
    max-width: 100%;
    height: auto;
}

/* Style for about section */
#about {
    padding: 20px 0;
}

.team-members ul {
    padding: 0;
    list-style-type: none;
}

.team-members ul li {
    display: inline;
    margin-right: 10px;
}

.github-repo {
    margin-top: 20px;
}

/* Additional Style */
.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: gold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: darkblue;
}

